MONGO_URI=mongodb+srv://<user>:<pass>@cluster.mongodb.net/stickers?retryWrites=true&w=majority
MONGO_DB_NAME=stickers
JWT_SECRET=some_long_random_secret
JWT_EXPIRES_IN=1d
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
CLIENT_URL=http://localhost:5173
PORT=5000
